
@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "Sunucu Yönetim Paneli | Hakkında";
    ViewBag.Description = "Sunucu Yönetim Paneli Hakkında";
    ViewBag.Keywords = "sunucu, yönetim,paneli,hakkında";
}

<div class="content-text">
    <h2 style="margin-top: 15px"> Hakkımızda</h2>


    <div class="img-left-box">
        <img src="~/Content/img/omu.png" alt="sunucu" class="img-left-top" />
        <img src="~/Content/img/omu2.png" alt="sunucu yazisi" class="img-left-bottom" />
    </div>

    <p>
        Ondokuz Mayıs Üniversitesi Mühendislik Fakültesine bağlı Bilgisayar Mühendisliği, birçok mühendislik öğrencisi adayı arasında rağbet gören bir mühendislik bölümüdür. 1993 yılında kurulan bölüm, diğer mühendislik bölümleri ve eğitim fakültesi bünyesindeki bazı bölümlerin yanı sıra meslek yüksekokullarına da servis dersi vermektedir. Lisans ve lisansüstü çalışmalarına öğrenci kabulü öğretim kadrosunun 2008 yılında yeterli sayıya erişmesine dek gecikmiştir. Her Güz döneminde 30 kişilik küçük bir öğrenci grubu, yüksek okul mezunları arasında her yıl düzenlenen Üniversiteye Giriş Sınavında ilk yüzde beşlik dilim içinde yer alan öğrencilerden seçilmektedir. Bilgisayar Mühendisliği alanındaki kitap ve yayınlar ağırlıklı olarak İngilizce dilinde yayımlandığından, iki dönemlik bir İngilizce hazırlık eğitimi de 2009 yılında başlamıştır.
        Zorunlu tüm dersleri ve seçmeli derslerin (seçilen) bir bölümünü başarıyla tamamlayan öğrenciler Bilgisayar Mühendisliğinde Lisans Derecesi almaktadır.
        Adaylar ortaöğrenim mezunları arasında her yıl düzenlenen Üniversiteye Giriş Sınavında ilk yüzde beşlik dilim içinde yer alan bir başarı göstermiş olmalıdır.
        Lisans ve lisansüstü dersleri, Bilgisayar Mühendisliğinin kuramsal ve uygulamalı çeşitli yönleri hakkında öğrencilerin sağlam bir temel oluşturmasına olanak tanımaktadır. Lisans müfredatı, Bilgisayar Mühendisliğine ilişkin konular ve yazılım geliştirme ortamlarının geniş bir bölümünü kapsayacak şekilde dikkatlice tasarlanmıştır. Mezun olan öğrencilerin yeni mesleki ortamlara uyum sağlamasının zor olmayacağı umulmaktadır. Birçok uygulama her bir mühendisin aynı projede bir grup içerisinde çalışmasını gerektirdiğinden, grup ödevleri ve projeleri yoluyla grup çalışmaları özendirilmektedir.
        Bilgisayar Mühendisliği, Elektrik Mühendisliği veya ilgili diğer bölümlerden Lisans derecesiyle mezun olmuş öğrenciler, en az 65 ALES puanı almaları şartıyla Lisansüstü programlara başvurabilirler.
        İlgili dersin içeriğinde aksi belirtilmediği sürece, öğrencilerin her dönemde biri yazılı ara sınav, diğeri de yazılı dönem sonu sınavı olmak üzere en az iki sınavla değerlendirilmeleri Ondokuz Mayıs Üniversitesi tarafından zorunlu kılınmıştır. Dersin başarı notu, ara sınav sonucunun %40 ağırlıkla, dönem sonu sınavının %60 ağırlıkla katkıda bulunduğu ağırlıklı ortalamayla hesaplanmaktadır. Notlandırma 100 puan üzerinden yapılmakta olup; ağırlıklı ortalamanın 60, dönem sonu sınavının ise 50 puan olması dersin başarıyla tamamlanması için gereklidir.
    </p>
</div>


